.hero img{
    position: relative;
    max-height: 1000px;
    text-align: middle;
    overflow: hidden;

}

.innerhero{
    position: absolute;
    top: 50;
    right: 100px;
    border: solid white 4px;
    text-align: center;
    left: 90px;
    color: white;
}
.innerhero li{
    display: inline;
    list-style: none;
}

.innerhero ul{
    display: inline;
    list-style: none;
}


.innerhero container{
    margin: 15px;
}

.projectbackground h1{
    text-align: center;
    color: #464866;
}



.nav-bar{
    text-align: center;
    font-size: 30px;
    padding: 20px;
    word-spacing: 25px;
    background: #25274d;
    text-emphasis-color: 
}

.nav-bar ul{
    display: inline;
    list-style: none;
}

.nav-bar li{
    display: inline;
    list-style: none;
}

.aboutme{
    background: #464866;
    padding: 30px;
    text-align: center;

}

.projectbackground{
    background: #aaabb8;


}




.fa {
    padding: 10px;
    font-size: 100px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.contacts{
    background-image: url("../images/snow.jpg");
    background-size: cover;
}
.contacts ul{
    list-style: none;
      
}


.socialmedia ul{
    display: inline;
    list-style: none;
    text-align: center;
}

.socialmedia li{
    display: inline;
    list-style: none;
    text-align: center;

}

.socialmedia{
    background: #29648b;
    padding: 20px;
    text-align: center;

}

.fa-linkedin {
    background: #007bb5;
    color: white;
  }

.fa-github{
    background: #007bb5;
    color: white;
}

.projectbackground row{
    background: white;
}


.javascript{
    margin-top: 90px;
}